# 测试网 BSC RPC URL (示例)
TESTNET_BSC_RPC_URL="https://data-seed-prebsc-1-s1.bnbchain.org:8545"
# 你的钱包私钥 (注意: 千万不要提交到公开仓库!)
PRIVATE_KEY="xxx"
HARRY_PRIVATE_KEY="xxx"
#你的 ETHERSCAN_API_KEY（需要在官网注册获取,v2版本:所有网络统一使用etherscan的api key,chain-id不同区分）
ETHERSCAN_API_KEY="xxx"

# 本地网络 RPC URL (Anvil 默认)
LOCAL_RPC_URL="http://localhost:8545"
LOCAL_PRIVATE_KEY="xxx"
